<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script>
			$(function() {
			    $("#pauseButton").click(function () {
				$.ajax({
				    type: 'GET',
				    url: "/pause/"
				});
			    });
			});
		</script>
		<script>
			$(function() {
			    $("#muteButton").click(function () {
				$.ajax({
				    type: 'GET',
				    url: "/mute/"
				});
			    });
			});
		</script>
		<script>
			function volumeChanged(vol) {
				document.querySelector('#volumeIndicator').value = vol;
				$.ajax({
					type: 'POST',
					url: "/volume_changed/" + vol
				});
			}
		</script>

		<title>Fileserver</title>
	</head>
	<body>
		{%for file in files%}
		{{file}}</br>
		{%end%}
		
		<p>
			<label for="volumeSlider">Volume</label>
			<input type="range" id="volumeSlider" min="0" max="100" value="50"
				step="1" oninput="volumeChanged(value)">
			<output for="volumeSlider" id="volumeIndicator">50</output>
		</p>


		<p>
			<button id="muteButton" type="button">Mute/Unmute</button>
			<button id="pauseButton" type="button">Pause/Unpause</button>
		</p>

		<p>
			<form enctype="multipart/form-data" method="post">
				<input type="file" name="datafile">
				<input type="submit" value="Upload">
			</form>
		</p>
	</body>
</html>
